.menu {
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.cushionedText{
	margin: 0.6rem;
}
body {
	background: grey;
}

.centered {
	position:absolute;
    left:10vw; right:10vw;
    top:10vh; bottom:10vh;
    background: grey;
	margin:auto;
	padding: 2vh 1vw;
	border-radius: 4px;
	box-shadow: inset 0em 0em 0.1em 0.1em grey;
	max-width:80%;
	max-height:80%;
	overflow:auto;
}