.menu {
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.cushionedText{
	margin: 1rem;
}


.centered {
	position:absolute;
    left:10vw; right:10vw;
    top:10vh; bottom:10vh;
	margin:auto;
	padding: 2vh 1vw;
	border-radius: 4px;
	box-shadow: 1px 1px 2px 2px grey;
	max-width:80%;
	max-height:80%;
	overflow:auto;
	background-color: #AAAAAA;
	color: white;
}

#myEvent {
	
}