.centered {
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;
	
	max-width:100%;
	max-height:100%;
	overflow:auto;
}

.centeredHorizontally {
	margin:auto;
	
	max-width:100%;
	overflow:auto;
}

.titleText {
	font-size: 4rem;
	font-weight: bold;
}